@font-face {
  font-family: 'Miranda';
  src: url(../materials/fonts/total-fontgeek-dtf-ltd_miranda-nbp/miranda-webfont.woff) format('woff');
}

html {
}

body {
  color: #fff;
}

#js-game-container {
  position: relative;
  margin: 20px auto 0 auto;
  width: 800px;
  height: 480px;
}
