@require 'nib/clearfix'
@require 'nib/vendor'


$SCREEN_WIDTH = 800
$SCREEN_HEIGHT = 480
$NAVIGATION_BAR_HEIGHT = 40
$INNER_PAGE_HEIGHT = $SCREEN_HEIGHT - $NAVIGATION_BAR_HEIGHT
$CARD_WIDTH = 96px
$CARD_HEIGHT = 128px

$TEXT_COLOR = #fff
$BACKGROUND_COLOR = #000

turn-colors()
  color: $BACKGROUND_COLOR
  background-color: $TEXT_COLOR

// div tag to button
buttonize($width, $height, $borderSize=3px, $borderRadius=5px)
  width: $width
  height: $height
  line-height: $height
  color: $TEXT_COLOR
  background-color: $BACKGROUND_COLOR
  border: $borderSize solid $TEXT_COLOR
  border-radius: $borderRadius
  font-size: ($height * 2 / 3)
  text-align: center
  cursor: pointer
  &:hover
    turn-colors()

text-bordering(size, color=#000)
  text-shadow: -(size) (-(size)) color, size (-(size)) color, -(size) size color, size size color

base-font-family()
  font-family: Miranda
japanese-font-family()
  font-family: Hiragino Kaku Gothic ProN, Meiryo, MS PGothic, sans-serif


#js-game-container .screen-component
  position: absolute
  color: $TEXT_COLOR
  base-font-family()
  background-color: $BACKGROUND_COLOR
  overflow: hidden
  user-select(none)

  .page-component
    position: absolute
    width: 100%
    height: 100%

    .navigation_bar-component
      position: absolute
      width: 100%
      height: unit($NAVIGATION_BAR_HEIGHT, 'px')
      ul
        clearfix()
        li
          display: block
          float: left
          width: 100px
          height: unit($NAVIGATION_BAR_HEIGHT, 'px')
          line-height: unit($NAVIGATION_BAR_HEIGHT, 'px')
          text-align: center
          span
            display: block
            width: 100%
            height: 100%
            font-size: 20px
            cursor: pointer

    .inner_page
      position: absolute
      top: unit($NAVIGATION_BAR_HEIGHT, 'px')
      width: 100%
      height: unit($INNER_PAGE_HEIGHT, 'px')


#js-game-container .inventory-component
  position: absolute
  width: 66px  // 32 * 2 + 2 * 1
  height: 202px  // 32 * 6 + 2 * 5
  border-top: 2px solid $TEXT_COLOR
  border-right: 2px solid $TEXT_COLOR
  border-bottom: 2px solid $TEXT_COLOR
  border-left: 2px solid $TEXT_COLOR
  .pocket
    position: absolute
    width: 32px
    height: 32px
    border-right: 2px solid $TEXT_COLOR
    border-bottom: 2px solid $TEXT_COLOR


#js-game-container .welcome-page-component
  cursor: pointer
  h2
    margin-top: 180px
    font-size: 72px
    text-align: center
  .touch-to-start
    margin-top: 20px
    font-size: 24px
    text-align: center


#js-game-container .home-page-component
  .inner_page
    clearfix()
    .side
      margin-top: 8px
      width: 352px  // 400 - 32 - 16(中間)
      &.left-side
        float: left
        margin-left: 32px
      &.right-side
        float: right
        margin-right: 32px
      h2
        line-height: 48px
        font-size: 32px
        text-align: center
  table.village_information
    margin-top: 8px
    width: 100%
    font-size: 28px
    text-align: left
    tr
      height: 48px
      line-height: 48px
      th
        font-size: 28px
      td.unit
        font-size: 18px
        &.ja
          font-size: 14px
      td.others
        .upgrade_button
          margin: 0 auto
          buttonize(64px, 28px, borderSize=2px)
      &.adventurers,
      &.dungeons
        .separator
          padding: 0 3px
          font-size: 20px
        .max
          font-size: 20px
  ul.links
    margin-top: 8px
    width: 100%
    li
      margin-top: 4px
      display: block
      height: 64px
      clearfix()
      .image
        float: left
        width: 128px
        height: 100%
        cursor: pointer
      .detail
        float: right
        margin-left: 6px
        width: 218px
        height: 100%
        text-align: left
        .title
          height: 28px
          line-height: 28px
          font-size: 22px
        .description
          height: 36px
          line-height: 15px
          japanese-font-family()
          font-size: 12px


#js-game-container .character-page-component
  .inner_page > .character
    position: absolute
    width: 96px
    height: 148px
    h3
      position: absolute
      width: 100%
      height: 20px
      line-height: 20px
      font-size: 20px
      text-align: center


#js-game-container .card-page-component
  $leftMargin = 32px
  .inner_page > .controller
    $controllerHeight = 24px
    margin: 8px 0 0 $leftMargin
    height: $controllerHeight
    select
      margin-right: 8px
      japanese-font-family()
  .inner_page > .cards
    margin: 16px 0 0 0
    width: 100%
    height: 360px  // 440 - 32(controller) - 16(その下のマージン) - 32(下マージン)
    overflow-y: scroll
    clearfix()
    .card_container
      $cardCountHeight = 20px
      position: relative
      float: left
      margin: 0 0 12px $leftMargin
      width: $CARD_WIDTH
      height: $CARD_HEIGHT + $cardCountHeight
      .card_count
        position: absolute
        top: $CARD_HEIGHT
        width: 100%
        height: $cardCountHeight
        line-height: $cardCountHeight
        text-align: right
        .operator
          margin-right: 4px
          font-size: 14px
        .value
          margin-right: 2px
          font-size: 20px


#js-game-container .equipment-page-component
  .inner_page
    clearfix()
    .page_column
      height: 100%
      $leftPageColumnWidth = 160px
      &.left-page_column
        float: left
        width: $leftPageColumnWidth
        $characterPaginationSide = 32px
        .character_pagination
          margin: 8px 8px 0 8px
          width: $leftPageColumnWidth - 16px
          height: 32px
          line-height: 32px
          clearfix()
          .part
            float: left
            height: 100%
            text-align: center
            font-size: 20px
            cursor: pointer
            &.left-part
              width: $characterPaginationSide
            &.center-part
              width: $leftPageColumnWidth - $characterPaginationSide * 2 - 16px
            &.right-part
              width: $characterPaginationSide
            &:hover
              turn-colors()
        .card_container
          position: relative
          width: 100%
          height: 144px  // 128 + 8 * 2
      &.right-page_column
        float: right
        width: 640px
        overflow-y: scroll
        section
          margin-top: 24px
          &.section_1
            margin-top: 8px
          .headline
            height: 24px
            japanese-font-family()
            clearfix()
            h3
              float: left
              margin-right: 16px
              line-height: 24px
              font-size: 18px
          table
            margin-top: 8px
            width: 608px  // 640 - 32
            tr
              margin-top: 2px
              height: 32px
              line-height: 32px
              border-top: 2px solid $BACKGROUND_COLOR
              &.row_1
                margin-top: 0
                height: 16px
                line-height: 16px
                border-top: none
              th, td
                japanese-font-family()
                text-align: center
                border-left: 2px solid $BACKGROUND_COLOR
              th
                font-size: 10px
                color: $BACKGROUND_COLOR
                background-color: $TEXT_COLOR
              td
                font-size: 12px
              .col_1
                width: 32px
                border-left: none
                div
                  width: 32px
                  height: 32px
              .col_2
                width: 96px
              td.col_3
                text-align: left
              .col_4
                width: 54px
                .used
                  margin-left: 2px
                  font-size: 11px
              .col_5
                width: 32px
              .col_6
                width: 32px
              .col_7
                width: 128px
                clearfix()
                .button
                  float: left
                  margin: 2px 4px 0 0
                  buttonize(24px, 24px, $borderSize:2px, $borderRadius:2px)
                  &.button-first
                    margin-left: 2px
                  &.button-last
                    margin-right: 0
          .add_equipment_button
            margin-top: 16px
            japanese-font-family()
            buttonize(60px, 18px, $borderSize: 2px, $borderRadius: 4px)


#js-game-container .game-page-component
  $rightSideTop = 24px
  $rightSideRight = 24px

  .dungeon_card_counter
    position: absolute
    top: $rightSideTop
    right: $rightSideRight
    width: 70px
    height: 34px
    line-height: 34px
    text-align: center
    .count
      font-size: 28px
    .separator
      padding: 0 4px
      font-size: 18px
    .max_count
      font-size: 22px
  .inventory-component
    top: $rightSideTop + 34px
    right: $rightSideRight
  .system_button
    position: absolute
    bottom: $rightSideTop
    right: $rightSideRight
    buttonize(66px, 32px, $borderSize:2px, $borderRadius:4px)


// 96 x 160
#js-game-container .card_holder-component
  position: absolute
  width: 96px
  height: 160px


// 92 x 124
#js-game-container .card_body-component
  position: absolute
  width: 92px
  height: 124px
  &.simple-card_body-component
    japanese-font-family()
    .header  // height 20
      position: relative
      width: 100%
      height: 20px
      line-height: 20px
      text-align: center
      .category
        width: 11px
        height: 100%
        font-size: 10px
        //font-weight: bold
        border-right: 1px solid $TEXT_COLOR
        //color: $BACKGROUND_COLOR
        //background-color: $TEXT_COLOR
      .title
        font-size: 11px
        text-align: center
    .icon_container  // height 52
      position: relative
      height: 50px
      border-top: 1px solid $TEXT_COLOR
      border-bottom: 1px solid $TEXT_COLOR
      .icon
        position: absolute
        top: 9px
        left: 30px
        width: 32px
        height: 32px
    .description  // height 52
      position: relative
      padding: 2px 4px
      height: 48px
      line-height: 12px
      font-size: 10px
      text-align: left
      overflow: hidden
  &.creature-card_body-component
    .icon_and_states
      position: absolute
      width: 100%
      height: 40px
      .icon
        position: absolute
        top: 4px
        left: 4px
        width: 32px
        height: 32px
      .hp_container
        position: absolute
        top: 0
        left: 40px
        width: 52px  // 92 - 40(icon + padding)
        height: 24px
        text-align: center
        .hp
          line-height: 24px
          font-size: 24px
        .separator
          padding: 0 4px
          line-height: 16px
          font-size: 16px
        .max_hp
          line-height: 16px
          font-size: 16px
      .damage_container
        position: absolute
        top: 24px
        left: 40px
        width: 52px
        height: 16px
        text-align: center
        .unit
          line-height: 16px
          font-size: 16px
        .value
          padding-left: 4px
          line-height: 16px
          font-size: 22px
    .attacks_and_skills
      $rowHeight = 20px
      position: absolute
      top: 45px
      width: 100%
      height: $rowHeight * 3
      line-height: $rowHeight
      font-size: 10px
      japanese-font-family()
      clearfix()
      table.attacks
        float: left
        width: 55%
        border-right: 1px solid $TEXT_COLOR
        tr
          height: $rowHeight
          th
            width: 9px  // 残り幅に4文字入るように40px残す
            base-font-family()
            font-size: 18px
            text-align: center
          td
            text-align: center
      table.skills
        float: right
        width: 45%
        tr
          height: $rowHeight
          td
            text-align: center
    .sub_action
      position: absolute
      bottom: 0
      width: 100%
      height: 14px
      line-height: 14px
      border-top: 1px solid $TEXT_COLOR
      japanese-font-family()
      font-size: 10px
      text-align: center


// 96 x 128
#js-game-container .card-component
  position: absolute
  width: 92px
  height: 124px
  border: 2px solid $TEXT_COLOR
  border-radius: 4px
  background-color: $BACKGROUND_COLOR
  .face
    position: absolute
    width: 100%
    height: 100%
  .back
    position: absolute
    width: 100%
    height: 100%
    .icon
      position: absolute
      top: 46px
      left: 30px
      width: 32px
      height: 32px


#js-game-container .buff_list-component
  position: absolute
  top: 128px  // = card-component:height
  left: 0
  width: 96px
  height: 32px


#js-game-container .buff-component
  position: absolute
  top: 0
  width: 32px
  height: 32px
  .duration
    position: absolute
    bottom: 0
    right: 0
    width: 12px
    height: 20px
    font-size: 20px
    text-align: center
    text-bordering(2px, black)


#js-game-container .hand_cards-component
  position: absolute
  width: 96px
  height: 66px
  .open_button
    position: absolute
    top: 32px
    left: 64px
    width: 28px
    height: 28px
    line-height: 28px
    font-size: 15px
    border: 2px solid #fff
    border-radius(2px)
    text-align: center
    cursor: pointer


#js-game-container .card_icon-component
  position: absolute
  width: 32px
  height: 32px
  cursor: pointer


//
// deprecated
//
#js-game-container

  // buffs
  .attack_down-bg_img
    background-image: url(/materials/images/denzi/parts/buffs/attack_down.png)
  .bless-bg_img
    background-image: url(/materials/images/denzi/parts/buffs/bless.png)
  .ki-bg_img
    background-image: url(/materials/images/denzi/parts/buffs/ki.png)
  .shield-bg_img
    background-image: url(/materials/images/denzi/parts/buffs/shield.png)
  .status_down-bg_img
    background-image: url(/materials/images/denzi/parts/buffs/status_down.png)
  .status_up-bg_img
    background-image: url(/materials/images/denzi/parts/buffs/status_up.png)
  // jobs
  for $id in 'alchemist' 'cleric' 'fighter' 'healer' 'knight' 'mage' 'ranger' 'thief'
    .{$id}-job-bg_img
      background-image: url('/materials/images/denzi/parts/jobs/' + $id + '.png')
  // monsters
  .goblin-monster-bg_img
    background-image: url(/materials/images/denzi/parts/goblin.png)
  .minotaur-monster-bg_img
    background-image: url(/materials/images/denzi/parts/minotaur.png)
  // objects
  for $id in 'box' 'chest' 'downstairs' 'jewel' 'gold' 'key'
    .{$id}-object-bg_img
      background-image: url('/materials/images/denzi/parts/objects/' + $id + '.png')
  // paints
  for $id in 'bar' 'dungeon' 'gate' 'library' 'shop'
    .{$id}-paint-bg_img
      background-image: url('/materials/images/denzi/parts/paints/' + $id + '.png')
  // symbols
  for $id in 'invalid'
    .{$id}-symbol-bg_img
      background-image: url('/materials/images/denzi/parts/symbols/' + $id + '.png')
