@require 'nib/clearfix'
@require 'nib/vendor'


SCREEN_WIDTH = 800
SCREEN_HEIGHT = 480
NAVIGATION_BAR_HEIGHT = 40
INNER_PAGE_HEIGHT = SCREEN_HEIGHT - NAVIGATION_BAR_HEIGHT

$TEXT_COLOR = #fff
$BACKGROUND_COLOR = #000

// div tag to button
buttonize($width, $height, $borderSize=3px, $borderRadius=5px)
  width: $width
  height: $height
  line-height: $height
  color: $TEXT_COLOR
  background-color: $BACKGROUND_COLOR
  border: $borderSize solid $TEXT_COLOR
  border-radius: $borderRadius
  font-size: ($height * 2 / 3)
  text-align: center
  cursor: pointer

text-bordering(size, color=#000)
  text-shadow: -(size) (-(size)) color, size (-(size)) color, -(size) size color, size size color

japanese-font-family()
  font-family: Hiragino Kaku Gothic ProN, Meiryo, MS PGothic, sans-serif


#js-game-container .screen-component
  position: absolute
  color: $TEXT_COLOR
  font-family: 'Miranda';
  background-color: $BACKGROUND_COLOR
  overflow: hidden

  .page-component
    position: absolute
    width: 100%
    height: 100%

    .navigation_bar-component
      position: absolute
      width: 100%
      height: unit(NAVIGATION_BAR_HEIGHT, 'px')
      ul
        clearfix()
        li
          display: block
          float: left
          width: 100px
          height: unit(NAVIGATION_BAR_HEIGHT, 'px')
          line-height: unit(NAVIGATION_BAR_HEIGHT, 'px')
          text-align: center
          span
            display: block
            width: 100%
            height: 100%
            font-size: 20px
            cursor: pointer

    .inner_page
      position: absolute
      top: unit(NAVIGATION_BAR_HEIGHT, 'px')
      width: 100%
      height: unit(INNER_PAGE_HEIGHT, 'px')


#js-game-container .welcome-page-component
  cursor: pointer
  h2
    margin-top: 180px
    font-size: 72px
    text-align: center
  .touch-to-start
    margin-top: 20px
    font-size: 24px
    text-align: center


#js-game-container .home-page-component
  .inner_page
    clearfix()
    .side
      margin-top: 8px
      width: 352px  // 400 - 32 - 16(中間)
      &.left-side
        float: left
        margin-left: 32px
      &.right-side
        float: right
        margin-right: 32px
      h2
        line-height: 48px
        font-size: 32px
        text-align: center
  table.village_information
    margin-top: 8px
    width: 100%
    font-size: 28px
    text-align: left
    tr
      height: 48px
      line-height: 48px
      th
        font-size: 28px
      td.unit
        font-size: 18px
        &.ja
          font-size: 14px
      td.others
        .upgrade_button
          margin: 0 auto
          buttonize(64px, 28px)
      &.adventurers,
      &.dungeons
        .separator
          padding: 0 3px
          font-size: 20px
        .max
          font-size: 20px
  ul.links
    margin-top: 8px
    width: 100%
    li
      margin-top: 2px
      display: block
      height: 64px
      clearfix()
      .image
        float: left
        width: 128px
        height: 100%
        background-color: #fff
        cursor: pointer
      .detail
        float: right
        margin-left: 4px
        width: 220px
        height: 100%
        text-align: left
        .title
          height: 28px
          line-height: 28px
          font-size: 22px
        .description
          height: 36px
          line-height: 12px
          japanese-font-family()
          font-size: 10px

  ul.visitors
    margin-top: 8px
    width: 100%
    text-align: left
    clearfix()
    li
      float: left
      display: block
      width: 176px
      height: 48px
      clearfix()
      >.icon
        float: left
        width: 32px
        height: 32px
        padding: 4px
        background-repeat: no-repeat
        background-position: 4px
      >.detail
        float: right
        width: 136px
        height: 100%
        .row
          &.row-1
            height: 18px
            line-height: 18px
            font-size: 18px
          &.row-2
            height: 22px
            line-height: 22px
            letter-spacing: 1px
            .current
              font-size: 20px
            .separator
              padding: 0 2px
              font-size: 16px
            .max
              font-size: 20px


#js-game-container .inventory-component
  position: absolute
  width: 66px  // 32 * 2 + 2 * 1
  height: 202px  // 32 * 6 + 2 * 5
  border-top: 2px solid $TEXT_COLOR
  border-right: 2px solid $TEXT_COLOR
  border-bottom: 2px solid $TEXT_COLOR
  border-left: 2px solid $TEXT_COLOR
  .pocket
    position: absolute
    width: 32px
    height: 32px
    border-right: 2px solid $TEXT_COLOR
    border-bottom: 2px solid $TEXT_COLOR


#js-game-container .game-page-component
  $rightSideTop = 24px
  $rightSideRight = 24px

  .dungeon_card_counter
    position: absolute
    top: $rightSideTop
    right: $rightSideRight
    width: 70px
    height: 34px
    line-height: 34px
    text-align: center
    .count
      font-size: 28px
    .separator
      padding: 0 4px
      font-size: 18px
    .max_count
      font-size: 22px
  .inventory-component
    top: $rightSideTop + 34px
    right: $rightSideRight
  .system_button
    position: absolute
    bottom: $rightSideTop
    right: $rightSideRight
    buttonize(66px, 32px, $borderSize:2px, $borderRadius:4px)


// 96 x 160
#js-game-container .card_holder-component
  position: absolute
  width: 96px
  height: 160px


// 96 x 128
#js-game-container .card-component
  position: absolute
  width: 92px
  height: 124px
  border: 2px solid $TEXT_COLOR
  border-radius: 4px
  background-color: $BACKGROUND_COLOR
  .face
    position: absolute
    width: 100%
    height: 100%
    .icon
      position: absolute
      top: 4px
      left: 4px
      width: 32px
      height: 32px
    .hp_container
      position: absolute
      top: 0
      left: 40px
      width: 52px  // 92 - 40(icon + padding)
      height: 24px
      text-align: center
      .hp
        line-height: 24px
        font-size: 24px
      .separator
        padding: 0 4px
        line-height: 16px
        font-size: 16px
      .max_hp
        line-height: 16px
        font-size: 16px
    .damage_container
      position: absolute
      top: 24px
      left: 40px
      width: 52px
      height: 16px
      text-align: center
      .unit
        line-height: 16px
        font-size: 16px
      .value
        padding-left: 4px
        line-height: 16px
        font-size: 22px
    .passive_skills_container
      position: absolute
      top: 40px
      left: 0
      width: 100%
      height: 16px
      text-align: left
      span
        japanese-font-family()
        padding-left: 4px
        line-height: 16px
        font-size: 10px
    .actions
      position: absolute
      top: 58px
      width: 100%
      height: 66px
      .cell
        position: absolute
        width: 46px
        height: 22px
        line-height: 22px
        text-align: center
        &.cell-1
          top: 0
          left: 0
        &.cell-2
          top: 22px
          left: 0
        &.cell-3
          top: 44px
          left: 0
        &.cell-4
          top: 0
          left: 46px
        &.cell-5
          top: 22px
          left: 46px
        &.cell-6
          top: 44px
          left: 46px
        &.current
          color: #f00
        .order
          position: absolute
          top: 0
          left: 0
          width: 14px
          height: 100%
          font-size: 18px
        .label
          position: absolute
          top: 0
          left: 14px
          width: 32px
          height: 100%
          font-size: 16px
  .back
    position: absolute
    width: 100%
    height: 100%
    .icon
      position: absolute
      top: 46px
      left: 30px
      width: 32px
      height: 32px


#js-game-container .buff_list-component
  position: absolute
  top: 128px  // = card-component:height
  left: 0
  width: 96px
  height: 32px


#js-game-container .buff-component
  position: absolute
  top: 0
  width: 32px
  height: 32px
  .duration
    position: absolute
    bottom: 0
    right: 0
    width: 12px
    height: 20px
    font-size: 20px
    text-align: center
    text-bordering(2px, black)


#js-game-container .hand_cards-component
  position: absolute
  width: 96px
  height: 66px
  .open_button
    position: absolute
    top: 32px
    left: 64px
    width: 28px
    height: 28px
    line-height: 28px
    font-size: 15px
    border: 2px solid #fff
    border-radius(2px)
    text-align: center
    cursor: pointer


#js-game-container .card_icon-component
  position: absolute
  width: 32px
  height: 32px
  cursor: pointer


// 後でdata uri化して別の生CSSにする
// background-image だけ設定する
#js-game-container

  // やっぱフラットに並べるか
  for $id in (
    'heart' \
    'key' \
    'morale' \
    'shield' \
    'sword'
  )
    .{$id}-icon-image
      background-image: url('/materials/images/denzi/parts/' + $id + '.png')

  // buffs
  .attack_down-bg_img
    background-image: url(/materials/images/denzi/parts/buffs/attack_down.png)
  .bless-bg_img
    background-image: url(/materials/images/denzi/parts/buffs/bless.png)
  .ki-bg_img
    background-image: url(/materials/images/denzi/parts/buffs/ki.png)
  .shield-bg_img
    background-image: url(/materials/images/denzi/parts/buffs/shield.png)
  .status_down-bg_img
    background-image: url(/materials/images/denzi/parts/buffs/status_down.png)
  .status_up-bg_img
    background-image: url(/materials/images/denzi/parts/buffs/status_up.png)
  // monsters
  .goblin-monster-bg_img
    background-image: url(/materials/images/denzi/parts/goblin.png)
  .minotaur-monster-bg_img
    background-image: url(/materials/images/denzi/parts/minotaur.png)
  // objects
  for $id in 'box' 'chest' 'downstairs' 'jewel' 'gold' 'key'
    .{$id}-object-bg_img
      background-image: url('/materials/images/denzi/parts/objects/' + $id + '.png')
  // symbols
  for $id in 'invalid'
    .{$id}-symbol-bg_img
      background-image: url('/materials/images/denzi/parts/symbols/' + $id + '.png')
