@require 'nib/clearfix'
@require 'nib/vendor'


SCREEN_WIDTH = 800
SCREEN_HEIGHT = 480
NAVIGATION_BAR_HEIGHT = 40
INNER_PAGE_HEIGHT = SCREEN_HEIGHT - NAVIGATION_BAR_HEIGHT

$TEXT_COLOR = #fff
$BACKGROUND_COLOR = #000

// div tag to button
buttonize(width, height)
  width: width
  height: height
  line-height: height
  color: $TEXT_COLOR
  background-color: $BACKGROUND_COLOR
  border: 3px solid $TEXT_COLOR
  border-radius: 5px
  font-size: (height * 2 / 3)
  text-align: center
  cursor: pointer

text-bordering(size, color=#000)
  text-shadow: -(size) (-(size)) color, size (-(size)) color, -(size) size color, size size color

japanese-font-family()
  font-family: Hiragino Kaku Gothic ProN, Meiryo, MS PGothic, sans-serif


#js-game-container .screen-component
  position: absolute
  color: $TEXT_COLOR
  font-family: 'Miranda';
  background-color: $BACKGROUND_COLOR

  .page-component
    position: absolute
    width: 100%
    height: 100%

    .navigation_bar-component
      position: absolute
      width: 100%
      height: unit(NAVIGATION_BAR_HEIGHT, 'px')
      ul
        clearfix()
        li
          display: block
          float: left
          width: 160px
          height: unit(NAVIGATION_BAR_HEIGHT, 'px')
          line-height: unit(NAVIGATION_BAR_HEIGHT, 'px')
          text-align: center
          span
            display: block
            width: 100%
            height: 100%
            font-size: 24px
            cursor: pointer

    .inner_page
      position: absolute
      top: unit(NAVIGATION_BAR_HEIGHT, 'px')
      width: 100%
      height: unit(INNER_PAGE_HEIGHT, 'px')


#js-game-container .welcome-page-component
  cursor: pointer
  h2
    margin-top: 180px
    font-size: 72px
    text-align: center
  .touch-to-start
    margin-top: 20px
    font-size: 24px
    text-align: center


#js-game-container .home-page-component
  .start_game-button
    buttonize(200px, 50px)


//#js-game-container .game-page-component


// 96 x 160
#js-game-container .card_holder-component
  position: absolute
  width: 96px
  height: 160px


// 96 x 128
#js-game-container .card-component
  position: absolute
  width: 92px
  height: 124px
  border: 2px solid $TEXT_COLOR
  border-radius: 4px
  background-color: $BACKGROUND_COLOR
  .face
    position: absolute
    width: 100%
    height: 100%
    .icon
      position: absolute
      top: 4px
      left: 4px
      width: 32px
      height: 32px
    .hp_container
      position: absolute
      top: 0
      left: 40px
      width: 52px  // 92 - 40(icon + padding)
      height: 24px
      text-align: center
      .hp
        line-height: 24px
        font-size: 24px
      .separator
        padding: 0 4px
        line-height: 16px
        font-size: 16px
      .max_hp
        line-height: 16px
        font-size: 16px
    .damage_container
      position: absolute
      top: 24px
      left: 40px
      width: 52px
      height: 16px
      text-align: center
      .unit
        line-height: 16px
        font-size: 16px
      .value
        padding-left: 4px
        line-height: 16px
        font-size: 22px
    .passive_skills_container
      position: absolute
      top: 40px
      left: 0
      width: 100%
      height: 16px
      text-align: left
      span
        japanese-font-family()
        padding-left: 4px
        line-height: 16px
        font-size: 10px
    .actions
      position: absolute
      top: 58px
      width: 100%
      height: 66px
      .cell
        position: absolute
        width: 46px
        height: 22px
        line-height: 22px
        text-align: center
        &.cell-1
          top: 0
          left: 0
        &.cell-2
          top: 22px
          left: 0
        &.cell-3
          top: 44px
          left: 0
        &.cell-4
          top: 0
          left: 46px
        &.cell-5
          top: 22px
          left: 46px
        &.cell-6
          top: 44px
          left: 46px
        &.current
          color: #f00
        .order
          position: absolute
          top: 0
          left: 0
          width: 14px
          height: 100%
          font-size: 18px
        .label
          position: absolute
          top: 0
          left: 14px
          width: 32px
          height: 100%
          font-size: 16px
  .back
    position: absolute
    width: 100%
    height: 100%


#js-game-container .buff_list-component
  position: absolute
  top: 128px  // = card-component:height
  left: 0
  width: 96px
  height: 32px


#js-game-container .buff-component
  position: absolute
  top: 0
  width: 32px
  height: 32px
  .duration
    position: absolute
    bottom: 0
    right: 0
    width: 12px
    height: 20px
    font-size: 20px
    text-align: center
    text-bordering(2px, black)


// 後でdata uri化して別の生CSSにする
// background-image だけ設定する
#js-game-container
  // buffs
  .attack_down-bg_img
    background-image: url(/materials/images/denzi/parts/buffs/attack_down.png)
  .bless-bg_img
    background-image: url(/materials/images/denzi/parts/buffs/bless.png)
  .ki-bg_img
    background-image: url(/materials/images/denzi/parts/buffs/ki.png)
  .shield-bg_img
    background-image: url(/materials/images/denzi/parts/buffs/shield.png)
  .status_down-bg_img
    background-image: url(/materials/images/denzi/parts/buffs/status_down.png)
  .status_up-bg_img
    background-image: url(/materials/images/denzi/parts/buffs/status_up.png)
  // monsters
  .goblin-monster-bg_img
    background-image: url(/materials/images/denzi/parts/goblin.png)
  .minotaur-monster-bg_img
    background-image: url(/materials/images/denzi/parts/minotaur.png)


//.paperdoll-partial {
//  width: 100px;
//  height: 130px;
//  cursor: pointer;
//  .border-block();
//  &.selected {
//    border-color: @selected-color;
//  }
//  .not_exists {
//    width: 100%;
//    height: 100%;
//    line-height: 130px;
//    font-size: 64px;
//    text-align: center;
//  }
//  .exists {
//    width: 100%;
//    height: 100%;
//    .clearfix();
//    .leftside {
//      float: left;
//      width: 50%;
//      height: 100%;
//      .member_frame {
//        position: relative;
//        width: 100%;
//        height: 50px;
//        .member-partial-view {
//          top: 1px;
//          left: 1px;
//        }
//      }
//      .parameter_score_gauges {
//        position: relative;
//        top: 2px;
//        left: 2px;
//        width: 48px;  // Must sync to paperdoll view
//        height: 15px;
//        .gauge-partial-view {
//          position: absolute;
//          left: 2px;
//          background-color: transparent;
//          &.total_physical_attack_power {
//            z-index: 1;
//            .bar { background-color: @physical-attack-power-color; }
//          }
//          &.physical_attack_power {
//            top: 2px;
//            .bar { background-color: @color; }
//          }
//          &.total_magical_attack_power {
//            top: 8px;
//            z-index: 1;
//            .bar { background-color: @magical-attack-power-color; }
//          }
//          &.magical_attack_power {
//            top: 10px;
//            .bar { background-color: @color; }
//          }
//        }
//      }
//      .gift_frame {
//        position: relative;
//        margin-top: 3px;
//        width: 100%;
//        height: 50px;
//        &.normal-color { color: @color; }
//        &.good-color { color: @good-parameter-color; }
//        &.great-color { color: @great-parameter-color; }
//        .title {
//          position: absolute;
//          top: 0;
//          left: 0;
//          width: 100%;
//          height: 24px;
//          font-size: 21px;
//          line-height: 21px;
//          text-align: center;
//          z-index: 10;
//        }
//        .icon {
//          position: absolute;
//          top: 9px;
//          left: 9px;
//          .icon_size();
//        }
//        .count {
//          position: absolute;
//          bottom: 0;
//          right: 0;
//          width: 24px;
//          height: 24px;
//          font-size: 24px;
//          line-height: 24px;
//          z-index: 10;
//          text-align: center;
//        }
//      }
//    }
//    .rightside {
//      float: right;
//      width: 50%;
//      height: 100%;
//
//      table {
//        width: 100%;
//        font-family: 'Miranda';  // Can't inherit by IE10
//      }
//      tr {
//        height: 18px;
//        line-height: 18px;  // For Firefox
//      }
//      th {
//        width: 50%;
//        text-align: center;
//        font-size: 18px;
//        color: @color;
//      }
//      td {
//        width: 50%;
//        text-align: center;
//        font-size: 18px;
//        color: @color;
//      }
//      td, th {
//        &.normal-parameter { color: @color; }
//        &.good-parameter { color: @good-parameter-color; }
//        &.great-parameter { color: @great-parameter-color; }
//      }
//    }
//  }
//}
